@font-face {
    font-family: 'virgo';
    src: url('./fonts/virgo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nasa';
    src: url('./fonts/nasa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root[data-theme="light"] {
    --text: #250a2e;
    --background: #ffffff;
    --primary: #dd1dca;
    --secondary: #ffdbfb;
    --accent: #ff3de2;
}
:root[data-theme="dark"] {
    --text: #ecd1f5;
    --background: #000000;
    --primary: #e222cf;
    --secondary: #240020;
    --accent: #c200a5;
}

/* Unvisited link */
a:link {
    color: var(--text);
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: var(--text);
    text-decoration: none;
}

/* Mouse over link */
a:hover {
    color: var(--text);
    text-decoration: none;
}

/* Selected link */
a:active {
    color: var(--text);
    text-decoration: none;
}

body {
    opacity: 1;
    margin: 0;
    padding: 0;
}

header {
    background: var(--secondary);
    font-family: 'virgo', sans-serif;
    padding: 10px;
    text-align: center;
    text-shadow: #aba0af8e 1px 0 1px;
    text-decoration: none;
}

footer {
    background: var(--secondary);
    font-family: 'nasa', sans-serif;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-shadow: #aba0af8e 1px 0 1px;
}

#footer {
    background: var(--secondary);
    font-family: 'nasa', sans-serif;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-shadow: #aba0af8e 1px 0 1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-shadow: #aba0af8e 1px 0 1px;
    text-decoration: none;
}

main {
    font-family: 'nasa', sans-serif;
    margin: 20px;
    text-align: center;
    text-shadow: #aba0af8e 1px 0 1px;
}